.chamada {
    padding-top: 1.5rem;

    margin-bottom: 2.5rem;

    background-image: url(../img/splash-chamada.svg);
    background-repeat: no-repeat;
    background-position: top -3rem right;

    position: relative;
}

.chamada__texto {
    width: 12.5rem;
}

.chamada__img {
    position: absolute;
    top: 3.25rem;
    right: 0;
}

.chamada__formulario {
    position: relative;
    z-index: 2;
}